:host ::ng-deep ul {
  position: absolute;
  background: white;
  border-radius: 5px;
  z-index: 5;
  padding: 10px 0px;
  margin: 0;
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  max-height: 300px;
  overflow-y: scroll;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  li {
    background: white;
    padding: 10px 15px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: 300ms cubic-bezier(0.645, 0.045, 0.355, 1);

    &:hover {
      background: #9a76b3;
      color: white;
    }
  }
}
