<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <div class="app-name has-gradient-text">
          uBan <input *ngIf="teamName" type="text" class="board-name" placeholder="{{ teamName }}" />
        </div>
      </div>
    </div>
  </div>

  <div class="board">
    <div class="board-wrapper">
      <div class="board-columns" cdkDropListGroup>
        <div #columns class="board-column" *ngFor="let column of board.columns; let columnIndex = index">
          <div class="column-title">
            <input
              (keyup)="updateColumnName($event.target.value, column._id)"
              type="text"
              placeholder="{{ column.name }}"
            />
          </div>

          <div
            #cards
            class="tasks-container"
            cdkDropList
            [cdkDropListData]="column.cards"
            (cdkDropListDropped)="drop($event, column._id)"
            (cdkDropListExited)="exit($event, column._id)"
          >
            <div class="task" *ngFor="let item of column.cards" cdkDrag>
              <input
                (keyup)="updateCardName($event.target.value, item._id, column._id)"
                type="text"
                placeholder="{{ item.name }}"
              />
            </div>
            <div class="add-new" (click)="addNewTask(columnIndex, column._id)">
              Add new
            </div>
          </div>
        </div>
        <div class="board-column add" (click)="addNewColumn()">
          <ion-icon name="add-circle"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="chat-toggle">
  <ion-icon name="chatbubbles-outline"></ion-icon>
</div>
