.root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-name {
    font-size: 28px;
    font-weight: bold;
    .board-name {
        font-size: 26px;
        font-weight: 400;
    }
}

.has-gradient-text {
    color: white;
    margin-left: 50px;
}

.navbar {
    background: #967FAB;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    min-height: 0;

    .board-bar {
        background: #967FAB;
        padding: 0px 50px;
    
        .board-name {
            font-size: 20px;
            font-weight: bold;
            color: #AFCFEA;
        }
    }

    .board-wrapper {
        display: flex;
        flex-grow: 1;
        overflow-x: auto;
        
        .board-columns {
            display: flex;
            flex-grow: 1;

            .board-column {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                flex-basis: 0; // to force the columns to all be the same size, regardless of content

                min-width: 300px;
                margin: 50px;
                padding: 25px;

                border-radius: 4px;

                background: rgba(white, 0.5);

                &:not(:first-child) {
                    margin-left: 0;
                }

                .column-title {
                    font-size: 20px;
                    font-weight: 800;
                    // font-family: 'Lato', sans-serif;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
            }
        }
    }
}


.tasks-container {
    flex-grow: 1;
    overflow-y: auto; 
}

.task {
    display: flex;
    padding: 15px 12px;
    background: white;
    border-bottom: solid 1px #ddd;
    border-radius: 4px;

    margin-bottom: 15px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    // transition: 300ms ease-in-out;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    transform: rotateY(20deg);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transform: rotate(10%);
    transition: 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}