<div class="container">
  <div class="card" *ngIf="!loading">
    <img class="profilePicture" src="{{ userData?.profilePicture }}" alt="" />
    <div class="message">
      <h1>
        Welcome, <br />
        {{ userData.displayName }}
      </h1>
    </div>
    <div class="animation">
      <animation-auth-success></animation-auth-success>
    </div>
    <div class="provider" [class.google]="provider == 'google'" *ngIf="provider == 'google'">
      <img src="assets/login-page/google-logo-light.svg" width="20" alt="" />Verified by Google
    </div>
    <div class="provider" [class.facebook]="provider == 'facebook'" *ngIf="provider == 'facebook'">
      <img src="assets/login-page/facebook-logo-dark.svg" width="20" alt="" />Verified by Facebook
    </div>
    <div class="provider" [class.git]="provider == 'github'" *ngIf="provider == 'github'">
      <img src="assets/login-page/github-logo-light.png" width="20" alt="" />Verified by Github
    </div>
  </div>
</div>
