<div class="wrapper">
  <div class="container" *ngIf="userData">
    <div class="title">
      <h1>{{ userData.displayName }} teams</h1>
      <div class="buttons">
        <div class="btn">
          <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        </div>
        <div class="btn" (click)="toggleSettings()">
          <ion-icon name="settings-outline"></ion-icon>
        </div>
        <div class="btn logout" (click)="logoutUser()">
          <ion-icon name="log-out-outline"></ion-icon>
        </div>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="teams-title">
        <h3>My uBan teams</h3>
        <div class="btn-import-git" *ngIf="userData?.roleName !== 'github'" (click)="importGithubTeams()">
          <img width="20" src="assets/login-page/github-logo-light.png" />
          Import from Github
        </div>
      </div>
      <hr />
      <div class="content">
        <ng-container *ngFor="let team of teams">
          <div class="team" [class.githubTeam]="team.githubId" [routerLink]="[team._id]">
            <img *ngIf="team.githubId" src="assets/login-page/github-logo-light.png" alt="" />
            <div class="header">
              {{ team.name }}
            </div>
            <div class="description">
              {{ team.description }}
            </div>
          </div>
        </ng-container>
        <div (click)="addTeam()" class="team add">
          <ion-icon name="add-circle"></ion-icon>
        </div>
      </div>
    </div>
  </div>
  <ul class="circles">
    <li><div class="inner"></div></li>
    <li><div class="inner"></div></li>
    <li><div class="inner"></div></li>
    <li><div class="inner"></div></li>
    <li><div class="inner"></div></li>
    <li><div class="inner"></div></li>
    <li><div class="inner"></div></li>
    <li><div class="inner"></div></li>
    <li><div class="inner"></div></li>
    <li><div class="inner"></div></li>
  </ul>
</div>
