<div class="wrapper">
  <ion-icon (click)="closeModal()" name="close"></ion-icon>
  <div class="title">
    <ng-container *ngIf="!showAnimation">
      Add new team
    </ng-container>
    <ng-container *ngIf="showAnimation">
      Building your team boards
    </ng-container>
  </div>
  <div class="content">
    <form *ngIf="!showAnimation" class="form" [formGroup]="newTeamForm" (ngSubmit)="createNewTeam(newTeamForm.value)">
      <div class="group">
        <input autocomplete="off" type="text" formControlName="name" id="name" placeholder="team name" />
      </div>

      <div class="group">
        <input autocomplete="off" type="text" formControlName="members" id="members" placeholder="team members" />
        <app-dropdown *ngIf="users">
          <ul>
            <li *ngFor="let user of users">{{ user.displayName }}</li>
          </ul>
        </app-dropdown>
      </div>

      <div class="group">
        <textarea
          autocomplete="off"
          rows="5"
          formControlName="description"
          maxlength="100"
          id="description"
          placeholder="description"
        ></textarea>
      </div>

      <button [disabled]="!newTeamForm.valid" type="submit">Add Team</button>
    </form>
    <ng-container *ngIf="showAnimation">
      <animation-building-team></animation-building-team>
    </ng-container>
  </div>
</div>
