<div class="login-wrapper">
    <div class="card">
    
        <div class="title">
            Login Form
        </div>
    
        <form>
            <div class="group">
                <input type="text" id="email">
                <label for="email">E-mail</label>
            </div>
    
            <div class="group">
                <input type="password" id="password">
                <label for="password">Password</label>
            </div>
        </form>
        
        <hr>
    
        <div (click)="initLogin()" class="google" style="background: red; color: white; width: max-content; padding: 10px 20px;">
            Google
        </div>

    </div>
</div>